:host {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

  :host input[type=button], :host input[type=submit] {
    max-width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    min-width: 100px;
    margin: 0 2px;
    border: none;
    background-color: #a7b7c2;
    color: #ffffff;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
  }

    :host input[type=button]:disabled, :host input[type=submit]:disabled {
      cursor: not-allowed;
      background-color: #c8ddeb;
    }

    :host input[type=button].black, :host input[type=submit].black {
      background-color: #404040;
      color: #ffffff;
    }

    :host input[type=button].outline-primary {
      color: #FF5733;
      border: 1px solid #FF5733;
      background-color: #fff;
    }

    :host input[type=button].outline-primary:hover {
      color: #fff;
      border-color: #fff;
      background-color: #FF5733;
    }

      :host input[type=button].black:disabled, :host input[type=submit].black:disabled {
        background-color: #757575;
      }

   :host .pillow {
     border-radius: 30px !important;
     height: 80% !important;
     font-size: 12px !important;
   }

   :host .outline-primary-active {
    color: #fff !important;
    border-color: #fff !important;
    background-color: #FF5733 !important;
  }

@media only screen and (max-width: 600px) {
  :host {
    width: 100%;
  }

    :host input[type=button], :host input[type=submit] {
      cursor: default;
      width: 100%;
    }
}
