:host, .frame {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  background-color: #e9e9e9;
}

  :host .frame .frame__body {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }

    :host .frame .frame__body .frame__body__nav {
      width: 60px;
      transition: width 0.5s;
      animation-delay: 0s;
      -webkit-animation-delay: 0s;
      overflow: hidden;
      z-index: 2;
    }

      :host .frame .frame__body .frame__body__nav.nav-expanded {
        width: 220px;
        transition: width 0.5s;
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
      }

    :host .frame .frame__body .frame__body__content {
      flex: 1;
      overflow-y: auto;
    }

  :host .frame .frame__footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }


@media only screen and (max-width: 600px) {
  :host .frame .frame__body .frame__body__content {

  }

  :host .frame .frame__body .frame__body__nav {
    width: 0;
    z-index: 1;
    transition: width 0.5s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    overflow: hidden;
    position: fixed;
    height: 100%;
  }

    :host .frame .frame__body .frame__body__nav.nav-expanded {
      width: calc(100% - 20px);
      transition: width 0.5s;
      animation-delay: 0s;
      -webkit-animation-delay: 0s;
      z-index: 1;
    }

  :host .frame .frame__header {
    z-index: 2;
  }
}
