:host {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 60px;
  padding: 0;
}

:host .profile {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  align-items: center;
  padding: 0 10px;
  z-index: 1;
}

:host .profile .profile__username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  font-size: 1.3em;
  text-align: end;
}

:host .profile .profile__mobile {
  display: none;
}

:host .profile .profile__avatar {
  margin-left: 10px;
  border-radius: 26px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  background: #3e5871 radial-gradient(circle, transparent 1%, #3e5871 1%)
    center/15000%;
}

.ripple:active {
  background-color: #aaa;
  background-size: 100%;
  transition: background 0s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

:host .profile__menu {
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  position: fixed;
  top: 60px;
  background-color: white;
  max-height: 0;
  transition: max-height 0.5s;
}

:host .profile__menu.profile__menu--active {
  max-height: 200px;
  transition: max-height 0.5s;
}

:host .profile__menu .profile__menu--item {
  width: 261px;
  padding: 10px;
  cursor: pointer;
  background-color: #323232;
  color: #fff;
  text-align: end;
}

:host .profile__menu .profile__menu--item:hover {
  background-color: #515151;
}

:host .color-red {
  color: red;
}

@media only screen and (max-width: 600px) {
  :host {
    cursor: default;
    display: initial;
  }

  :host .profile {
    padding: 5px 20px;
    margin: 1px 0;
  }

  :host .profile.profile--active {
    border-left: none;
    border-right: none;
  }

  :host .profile__menu .profile__menu--item {
    width: 261px;
    padding: 10px;
    cursor: pointer;
  }

  :host .profile .profile__username {
    display: none;
  }

  :host .profile .profile__mobile {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    font-size: 1.2em;
    flex: 1;
    display: flex;
    color: #ffffff;
  }

  .ripple {
    background-position: center;
    transition: background 0.8s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    background: #515151 radial-gradient(circle, transparent 1%, #515151 1%)
      center/15000%;
  }

  .ripple:active {
    background-color: #666666;
    background-size: 100%;
    transition: background 0s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
  }

  :host .profile__menu {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    position: static;
    top: 0;
    background-color: white;
    width: 100%;
  }

  :host .profile__menu .profile__menu--item {
    flex: 1;
    padding: 10px;
    cursor: default;
    width: auto;
    background-color: #515151;
  }
}
