<div class="nav">
  <ul class="nav__list">
    <ng-container *ngFor="let item of menu">
      <li *ngIf="(!item.SubItens || item.SubItens.length == 0)">
        <a title="{{item.Nome | gdi18n:'menu'}}" routerLink="{{item.Url}}" class="nav__list__item ripple"
          [class.active]="item.active" (click)="setActive(item)">
          <div class="icon__container"><i class="{{item.Icone}}"></i></div><span
            class="nav__list__item__caption">{{item.Nome | gdi18n:'menu'}}</span>
          <div class=" nav__list__item__carret">
            <div [class.arrow-mark]="item.active"></div>
          </div>
        </a>
      </li>
      <li *ngIf="item.SubItens && item.SubItens.length > 0">
        <a title="{{item.Nome | gdi18n:'menu'}}" class="nav__list__item expandable ripple" [class.active]="item.active"
          (click)="setActive(item, item.SubItens.Url)">
          <div class="icon__container"><i class="{{item.Icone}}"></i></div><span
            class="nav__list__item__caption">{{item.Nome | gdi18n:'menu'}}</span>
          <div class=" nav__list__item__carret">
            <div class="arrow-right" [class.down]="item.active"></div>
          </div>
        </a>
        <ul *ngIf="item.SubItens && item.SubItens.length && item.SubItens.length >= 0" class="nav__list__item__sublist"
          [class.expanded]="item.active">
          <ng-container *ngFor="let subitem of item.SubItens">
            <li routerLinkActive="active">
              <a routerLink="{{subitem.Url}}" class="nav__list__item__subitem ripple" [class.active]="subitem.active"
                (click)="setActive(item, subitem)">{{subitem.Nome | gdi18n:'menu'}}<div
                  class=" nav__list__item__carret">
                  <div [class.arrow-mark]="subitem.active"></div>
                </div></a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
