fieldset{
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
  width: auto !important;
  margin: 0 2px;
}

legend{
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
  font-size: 19.5px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
