<div *ngIf="visible" [formGroup]="form" [ngClass]="opcaoInvalida ? 'has-error form-group' : 'form-group'" >
    <label class="control-label">{{title}}</label>
    <select class="form-control"
            formControlName="{{controlName}}" disable="disabled">
        <option *ngIf="placeholder" disabled selected value="">{{placeholder}}</option>
        <option [value]="e.value" *ngFor="let e of lista">{{e.key}}</option>
    </select>
    <small *ngIf="opcaoInvalida" class="help-block error-container">{{ mensagemErro }}</small>
</div>
