<div class="section">
  <h1>{{ 'TITULO_DESPESAS' | gdi18n }}</h1>
  <gd-widget-grid>
    <gd-widget title="{{ 'TITULO_DESPESAS_ADICIONAR' | gdi18n }}">
      <gd-alert contexto="mensagem-despesas"></gd-alert>
      <gd-row>
        <gd-column size='8'>
          <div class="report-adjust">
            <div style="overflow-x: auto; overflow-y: hidden">
            </div>
            <gd-fieldset titulo="">
              <div class="widget-body">
                <div class="table-responsive">
                  <div class="dt-toolbar no-padding">
                    <form [formGroup]="form">
                      <gd-row>
                        <div *ngIf="this.listaAnos">
                          <gd-column size="1">
                            <gd-select-enum [lista]="this.listaAnos" controlName="ano" title="{{'DESPESAS_ANO' | gdi18n}}" [form]="form"></gd-select-enum>
                          </gd-column>
                        </div>
                        <div *ngIf="this.listaMeses">
                          <gd-column size="1">
                            <gd-select-enum [lista]="this.listaMeses" controlName="mes" title="{{'DESPESAS_MES' | gdi18n}}" [form]="form"></gd-select-enum>
                          </gd-column>
                        </div>
                        <gd-column size="1">
                            <gd-select-enum disabled="!contentReady" [lista]="this.listaCategorias" controlName="idCategoria" title="{{'DESPESAS_CATEGORIAS' | gdi18n}}"
                            [form]="form" placeholder="Selecionar a categoria"></gd-select-enum>
                          </gd-column>
                        <gd-column size="1">
                          <gd-input label="{{'DESPESAS_VALOR' | gdi18n}}" placeholder="0,00" [form]='form'
                            controlname="valor" mascara="separator.2" disabled="!contentReady">
                          </gd-input>
                        </gd-column>
                      </gd-row>
                      <gd-row divider="true">
                        <gd-column size="1">
                          <gd-button title="{{'GENERICO_ADICIONAR' | gdi18n:'base'}}" type="submit"
                            color="black" [align]="'right'" [callback]="submit" disabled="!contentReady"></gd-button>
                        </gd-column>
                      </gd-row>
                    </form>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <!-- <th style="width: 14px; height: 20px;"><span
                            class="btn-customizar-coluna fa fa-th-large"></span>
                        </th> -->
                        <th>{{'DESPESAS_MES_ANO' | gdi18n }}</th>
                        <th>{{'DESPESAS_VALOR' | gdi18n }}</th>
                        <th>{{'DESPESAS_CATEGORIAS' | gdi18n }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan="3">
                        <gd-loader-tabela *ngIf="!contentReady"></gd-loader-tabela>
                      </td>
                      <ng-container *ngIf="retornoModel && contentReady">
                        <ng-container *ngFor="let despesa of retornoModel">
                          <tr>
                            <!-- <td>
                              <gd-menu-contexto [acao]="acao" [itemArray]="despesa.id" [disabled]="false">
                              </gd-menu-contexto>
                            </td> -->
                            <td><strong style="cursor: pointer;" (click)="
                              abrirModal([{ano: despesa.ano, mes: despesa.mes, mesNome: despesa.mesNome, categorias: despesa.categorias}])">
                              <u>{{despesa?.mesNome}}/{{despesa?.ano}}</u></strong></td>
                            <td>{{despesa?.valorFormatado}}</td>
                            <td>{{despesa?.categorias}}</td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </gd-fieldset>
          </div>
        </gd-column>
      </gd-row>
    </gd-widget>
  </gd-widget-grid>
</div>
