<div>
  <div class="menu-popovertable" *ngIf="!disabled">
    <ng-template #formPopoverTable>
      <ul>
        <ng-container *ngFor="let item of acao; let i=index">
          <ng-container *ngIf="!internalDisabled[i]">
            <li *ngIf="!item.disabled && !item.callback" [class.separator]="item.separador">
              <a>{{((item.titulo | gdi18n:'base') == item.titulo) ? (item.titulo | gdi18n) : (item.titulo | gdi18n:'base')}}</a>
            </li>
            <li *ngIf="!item.disabled && item.callback" [class.separator]="item.separador">
              <a
                (click)="pop.hide();item.callback.apply(null,[+itemArray])">{{((item.titulo | gdi18n:'base') == item.titulo) ? (item.titulo | gdi18n) : (item.titulo | gdi18n:'base')}}</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </ng-template>
    <a popoverPlacement="top" [popover]="formPopoverTable" [outsideClick]="true" #pop="bs-popover"
      style="cursor: pointer;">
      <i class="fa fa-ellipsis-h"></i>
    </a>
  </div>
  <div class="menu-popovertable" *ngIf="disabled">
    <a class="disabled">
      <i class="fa fa-ellipsis-h"></i>
    </a>
  </div>
</div>
