:host {
  display: block;
  width: 100%;
}

  :host .datepicker {
    display: flex;
    flex-flow: row nowrap
  }

    :host label {
      font-size: 14px;
      color: #333333;
      padding-bottom: 5px;
      display: block;
    }

    :host .datepicker input[type=text] {
      padding: 4px 12px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #fff;
      background-image: none;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }

      :host .datepicker input[type=text]:disabled {
        color: #999;
        cursor: not-allowed;
      }

      :host .datepicker .calendar {
        display: block;
        width: 36px;
        height: 32px;
        text-align: center;
        border: 1px solid #ccc;
        line-height: 1.9;
        border-left: navajowhite;
        cursor: pointer;
      }

      :host .datepicker .calendar:hover, :host .datepicker .calendar.active {
        background-color: #d7d7d7;
      }

  :host .popover__container {
    position: relative;
    z-index: 2;
  }

  :host .popover {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #696e71;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    width: 250px;
    background-color: white;
    position: absolute;
    top: 10px;
    border-radius: 5px;
  }

    /*:host .popover:before, :host .popover:after {
      content: '';
      width: 0px;
      display: block;
      height: 0px;
      border-style: solid;
      position: absolute;
    }

    :host .popover:after {
      border-width: 11px;
      border-color: transparent transparent #ffffff transparent;
      top: -22px;
      left: 2px;
    }

    :host .popover:before {
      border-width: 13px;
      border-color: transparent transparent #ccc transparent;
      top: -26px;
    }*/

    :host .popover .popover__header, :host .popover .popover__body {
      display: flex;
      flex-flow: row nowrap;
      flex: 1;
      justify-content: space-between;
      padding: 3px;
    }

      :host .popover .popover__header > div:not(.month) {
        padding: 3px 20px;
        cursor: pointer;
        border: 1px solid #ccc;
      }

        :host .popover .popover__header > div:not(.month):hover {
          background-color: #d7d7d7;
        }

      :host .popover .popover__header > div.month {
        line-height: 2;
        font-size: 13px;
      }

      :host .popover .popover__body table {
        width: 100%;
        table-layout: fixed;
      }

        :host .popover .popover__body table td:not(.empty) {
          text-align: center;
          cursor: pointer;
        }

          :host .popover .popover__body table td:hover:not(.empty), :host .popover .popover__body table td.active:not(.empty) {
            background-color: #d7d7d7;
          }

:host .has-error small {
  color: #b94a48;
  font-size: 10px;
}

:host .has-error label {
  color: #b94a48;
}

:host .has-error input[type=text] {
  border-color: #b94a48;
}

@media only screen and (max-width: 600px) {
  :host {
  }

    :host .popover {
      width: 100%;
    }

    :host .datepicker .calendar {
      cursor: default;
    }

    :host .popover .popover__header > div:not(.month) {
      cursor: default;
    }

    :host .popover .popover__body table td {
      cursor: default;
    }
}
