<gd-frame [nav-expanded]="navExpanded" *ngIf="init">
  <gd-content content>
    <div style="text-align:center"><p style="flex:1">Aguarde...</p></div>
  </gd-content>
</gd-frame>
<gd-frame [nav-expanded]="navExpanded">
  <gd-header header [logo-click-callback]="logoClick" >
    <gd-nav-button menu-button [callback]="menuClick"></gd-nav-button>
    <gd-profile tools ></gd-profile>
  </gd-header>
  <gd-nav nav></gd-nav>
  <gd-content content>
    <router-outlet #outlet="outlet"></router-outlet>
  </gd-content>
  <gd-footer footer></gd-footer>
</gd-frame>

