:host {
  display: block;
  width: 100%;
}

  :host label {
    font-size: 14px;
    color: #333333;
    padding-bottom: 5px;
    display: block;
  }


  :host .has-error label, :host .has-error input{
    color: #b94a48;
    border-color: #b94a48;
  }

  :host .has-error small {
    color: #b94a48;
    font-size: 12px;
  }


  :host input[type=text]{
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  :host input[type=number]{
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  :host input[type=text]:disabled {
    color: #999;
    cursor: not-allowed;
  }

  :host .has-error input[type=text] {
    border-color: #b94a48;
  }


@media only screen and (max-width: 600px) {
  :host {
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
