  <label class="control-label">{{label}}</label>
  <ng-select [items]="items"
            [multiple]="false"
            [closeOnSelect]="true"
            [searchable]="false"
            placeholder="{{placeholder != null ? placeholder : ('SELECIONE' | npi18n:'base')}}"
            bindLabel="{{bindLabel}}"
            bindValue="{{bindValue}}"
            [(ngModel)]="selected"
            [virtualScroll]="true"
            [ngModelOptions]="{standalone: false}"
            notFoundText="{{'NAO_HA_ITENS_PRA_SELECIONAR' | npi18n:'base' }}"
            clearAllText="{{'LIMPAR_TUDO' | npi18n:'base' }}"
            (change)="changeSelect($event)"
            id="{{label}}">

          <ng-template ng-label-tmp let-item="item" let-clear="clear" *ngIf="useIcon" >
            <span class="ng-value-label"><img [src]="item.icone" width="20px" height="20px"> {{item.nome}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </ng-template>

          <ng-template ng-option-tmp let-item="item" *ngIf="useIcon">
              <img [src]="item.icone" width="20px" height="20px"> {{item.nome}}
          </ng-template>
  </ng-select>
