<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="fechar()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Despesas mensais</h4>
      </div>
      <div class="modal-body">
        <div class="section">
          <h2>{{'Despesas de ' + titulo}}</h2>
          <np-alert contexto="mensagem-despesas"></np-alert>

          <div class="report-adjust">
            <div style="overflow-x: auto; overflow-y: hidden">
            </div>
            <fieldset>
              <div class="widget-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 14px; height: 20px;"><span
                            class="btn-customizar-coluna fa fa-th-large"></span>
                        </th>
                        <th>{{'DESPESAS_CATEGORIAS' | npi18n }}</th>
                        <th>{{'DESPESAS_VALOR' | npi18n }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container>
                        <ng-container>
                          <tr>
                            <td>
                              <gd-menu-contexto [acao]="acao" [itemArray]="" [disabled]="false">
                              </gd-menu-contexto>
                            </td>
                            <td>teste</td>
                            <td>teste</td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
