<div class="section">
  <h1>{{ 'TITULO_CATEGORIA' | gdi18n }}</h1>
   <gd-widget-grid>
      <gd-widget title="{{ 'TITULO_CATEGORIA_CONSULTAR_CRIAR' | gdi18n }}">
      <gd-alert contexto="mensagem-categoria"></gd-alert>
       <gd-row>
        <gd-column size='8'>
          <div class="report-adjust">
        <div style="overflow-x: auto; overflow-y: hidden">
        </div>
        <gd-fieldset titulo="">
          <div class="widget-body">
                <div class="table-responsive">
                  <div class="dt-toolbar no-padding">
                      <gd-row>
                        <gd-column size="1">
                          <gd-input label="{{'CATEGORIA_NOME' | gdi18n}}" placeholder="" [form]='form' controlname="name">
                          </gd-input>
                       </gd-column>
                      <gd-column>
                        <gd-button title="{{'GENERICO_CRIAR' | gdi18n:'base'}}" type="submit" (click)="addCategoria()" color="black" [align]="'right'"></gd-button>
                      </gd-column>
                      </gd-row>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{{'CATEGORIA_NOME' | gdi18n }}</th>
                      </tr>
                    </thead>
                      <tbody>
                        <ng-container *ngIf="model && model.length > 0">
                          <ng-container *ngFor="let categoria of model">
                            <tr>
                              <td>{{categoria?.name }}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </tbody>
                  </table>
                </div>
        </div>
        </gd-fieldset>
      </div>
      </gd-column>
      </gd-row>
      </gd-widget>
  </gd-widget-grid>
  </div>
