<div class="section">
  <h1>{{ 'TITULO_CATEGORIA' | npi18n }}</h1>
   <np-widget-grid>
      <np-widget title="{{ 'TITULO_CATEGORIA_CONSULTAR_CRIAR' | npi18n }}">
      <gd-alert contexto="mensagem-categoria"></gd-alert>
       <np-row>
        <np-column size='8'>
          <div class="report-adjust">
        <div style="overflow-x: auto; overflow-y: hidden">
        </div>
        <fieldset>
          <div class="widget-body">
                <div class="table-responsive">
                  <div class="dt-toolbar no-padding">
                      <np-row>
                        <np-column size="1">
                          <np-input label="{{'CATEGORIA_NOME' | npi18n}}" placeholder="" [form]='form' controlname="name">
                          </np-input>
                       </np-column>
                      <np-column>
                        <np-button title="{{'GENERICO_CRIAR' | npi18n:'base'}}" type="submit" (click)="addCategoria()" color="black" [align]="'right'"></np-button>
                      </np-column>
                      </np-row>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{{'CATEGORIA_NOME' | npi18n }}</th>
                      </tr>
                    </thead>
                      <tbody>
                        <ng-container *ngIf="model && model.length > 0">
                          <ng-container *ngFor="let categoria of model">
                            <tr>
                              <td>{{categoria?.name }}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </tbody>
                  </table>
                </div>
        </div>
        </fieldset>
      </div>
      </np-column>
      </np-row>
      </np-widget>
  </np-widget-grid>
  </div>
